{% extends "layout.html" %}

{% block title %}
    Pick Workout
{% endblock %}

{% block main %}
<h1>Pick Workout</h1>
<br>
<form action="/workout" method="post">
    <div class="mb-3">
        <select name="workout" id="workout">
            {% for workout in workouts %}
                <option value="{{ workout.id }}">{{ workout.workout_name }} - made by {{ workout.username }}</option>
            {% endfor %}
        </select>
    </div>
    </div>
    <button class="btn btn-primary" type="submit">GO!</button>
</form>

{% endblock %}
